body{
    background-color: #FDF0E9;
    max-width: 1170px;
    margin: 0 auto;
}
.companies{
    display: flex;
    justify-content: space-around;
    padding: 72px 0px 0px 0px;
}
.body__separator {
    background-color: #F3D1BF;
    width: 1170px;
    height: 1px;
    margin: 72px auto 101px auto;
}
.card__block {
    max-width: 470px;
}
.card__block > div{
    padding-bottom: 25px;
}
.card__block:first-child {
    margin-left: 75px;
}
.card__block:last-child {

}
.title{
    color: #EF6D58;
    font-family: Epilogue;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 3px;
}
.subtitle{
    color: #391400;
    font-family: Epilogue;
    font-size: 56px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 64px;
    letter-spacing: -1px;
}
.quote{
    color: #391400;
    font-family: Epilogue;
    font-size: 20px;
    line-height: 32px;
}
.text{
    color: rgba(57, 20, 0, 0.64);
    font-family: Epilogue;
    line-height: 32px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 120px;
}
.card__button{
    display: block;
    padding: 18px 34px 16px 34px;
    font-family: Epilogue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #391400;
    border-radius: 6px;
    background-color: #fff;
    width: 140px;
    height: 50px;
    box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
    transition: all 0.4s;
}
.card__button:hover{
    background-color: #000;
    color: #fff;
}
.stats{
    display: flex;
    justify-content: center;
    margin: 160px 0 160px 0;
}
.articles{
    display: flex;
    justify-content: center;
    margin: 160px 0 160px 0;
}
.articles {
    display: flex;
    justify-content: center;
    margin: 160px 0 160px 0;
}
.stats__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 391px;
    height: 176px;
    padding-left: 50px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #F3D1BF;
}
.articles__block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 391px;
    height: 176px;
    padding-left: 50px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #F3D1BF;
}
.link{
    font-family: Epilogue;
    text-transform: uppercase;
    color: #391400;
}
.link:hover{
    text-decoration: underline;
}
.subtitle--light{
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.card__conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.list{
    display: flex;
    justify-content: space-between;
}
.list__items{
    color: #391400;
    font-family: Epilogue;
    font-size: 72px;
    font-weight: 800;
    line-height: 80px;
    margin: 0px 35px 20px 0px;
}
.conteiner-body__subtitle--smaller{
    font-size: 40px;
}
.card__block--wider{
    max-width: 470px;
}
li{
    padding-bottom: 10px;
    display: flex;
}
li::before{
    background-image: url(../img/check.svg);
    padding: 16px;
    margin-right: 16px;
    content: "";

}
a{
    margin-right: 20px;
}
.feedback__selfie{
    background-color: #F7CB47;
    border-radius: 50%;
    width: 110px;
}
.conteiner-body__text--selfie{
    max-width: 385px;
}
.card__feedback{
    display: flex;
}
.quote--name{
    margin-left: 80px;
}
.card--position{
    display: inline-block;
    margin-bottom: 0px;
}
.articles__block--size{
    width: 391px;
    height: 400px;
    border: 1px solid #F3D1BF;
}
.conteiner-body__text--size{
    max-width: 295px;
}
.text--size{
    max-width: 295px;
}
.subtitle--size{
    font-size: 24px;
}
.card__link--size{
    padding-top: 26px;
    font-size: 16px;
    text-transform: capitalize;
}
.articles__icon--design{
    width: 32px;
    height: 32px;
    margin: 24px 0px 0px 24px;
}
.stats__block--size{
    justify-content: space-evenly;
}
.articles__icon{
    width: 80px;
    height: 80px;
    background-color: #EF6C57;
    border-radius: 50%;
}
footer{
    text-align: center;
}
.list__item{
    padding-bottom: 20px;
}
